
body{
	font-size: 18px;
	font-family: system-ui, sans-serif;
	background: #fff;
	color:#0C1115;

}

a{
	text-decoration:none;
	color: #32363C;
}

/* navbar */
nav{
	background: #afc3cc;
	padding: 5px 0;
	text-align:right;
}

nav li{
	display: inline;
	padding: 0 18px;
}

nav a{
	text-decoration:none;
	color:#fff;
	font-size:22px;
	font-weight: 500;
}

nav a:hover{
	color:#596073;
}

footer{
	margin-top: 85%;
}

/* classes */
.main-header{
	box-sizing: border-box;
	top: 10px;
}

.main-header h1{
	text-align: center;
	padding:10px;
	text-transform: uppercase;
	letter-spacing: 3px;
}

.container{
	width:80%;
	margin:auto;
	overflow: hidden;
}

