
body{
	font-size: 18px;
	font-family: system-ui, sans-serif;
	background: #fff;
	color:#0C1115;

}

a{
	text-decoration:none;
	color: #32363C;
}

/* navbar */
.navlinks{
	display: flex;
	/*border: 2px solid black;*/
	margin-left: auto;
	padding: 0 10px;
}

.navlinks a{
	color:#fff;
	font-size:24px;
	font-weight: 500;
}

.navlinks a:hover{
	color:#596073;
}

.navlinks button{
	border:none;
	background-color: transparent;
	padding: 0 10px;
}

footer{
	margin-top: 85%;
}

/* classes */
.main-header{
	display: flex;
	justify-content: space-evenly;
	box-sizing: border-box;
	background: #afc3cc;
	padding: 5px 0;
}

.main-header h1{
	text-align: center;
	padding: 0 20px;
	text-transform: uppercase;
	letter-spacing: 2px;
}



.container{
	width:80%;
	margin:auto;
	overflow: hidden;
}


